body {
    background-color: lightblue;
    font-size: 18px;
  }
  
h1 {
    color: rgb(246, 245, 236);
    text-align: center;
    text-shadow:1px 1px 0 rgb(20, 14, 14);
  }
  
  h2,h3 {
    text-align: center;
    text-shadow:1px 1px 0 rgb(241, 234, 234);
  }

.links{
  text-align: center;
  color: rgb(22, 75, 110);
}
  
.boldText{
    text-decoration: underline;
    font-weight: bold;
}

ul{
    list-style-position: inside;
  }
ul.squereClass{
    list-style-type: square;
  }
ul.circleClass{
    list-style-type: circle;
  }


  
  @media only screen and (max-width: 575px) {
    body {
      background-color: rgb(221, 219, 177);
    }
    h1 {
      color: rgb(180, 169, 6);
      text-align: center;
      text-shadow:1px 1px 0 rgb(20, 14, 14);
    }
    h2,h3 {
      color: rgb(182, 119, 18);
      text-align: center;
      text-shadow:1px 1px 0 rgb(87, 63, 4);
    }
   
    ul, ul.circleClass {
      list-style-type:square;
    }
    
    img {
      width: auto;
      height: 100%;
    }
}
  